<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-wdith", initial-scale="1">

</head>
<body>
    <div class="row">
<table class="table table-striped" style="text-align: center; border: 1px solid #dddddd">
    <thead>
    <tr>
        <th style="background-color: #eeeeee; text-align: center;">번호</th>
        <th style="background-color: #eeeeee; text-align: center;">제목</th>

        <th style="background-color: #eeeeee; text-align: center;">작성자</th>
        <th style="background-color: #eeeeee; text-align: center;">작성일</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="board : ${boardList}">
        <td>
            <span th:text="${board.id}"></span>
        </td>

        <td>
            <a th:href="@{${board.id}}">
                <span th:text="${board.title}" style="color: black"></span >
            </a>
        </td>
        <td>
            <span th:text="${board.writer}"></span>
        </td>

        <td>
            <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
        </td>
    </tr>
    </tbody>
</table>
        <a th:href="@{/post}" class="btn btn-primary">글쓰기</a>
<div>
    <span th:each="pageNum : ${pageList}" th:inline="text">
        <a th:href="@{'/?page=' + ${pageNum}}" style="color: black">[[${pageNum}]]</a>
    </span>
</div>

    </div>
</div>
</div>
</body>
</html>